@import "tailwindcss";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #050505; /* Casi negro */
    color: #ffffff;
    background-image: radial-gradient(circle at 50% 0%, #1a1a1a 0%, #000000 100%);
}

/* Títulos Futuristas */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

/* Scrollbar Personalizado */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #39FF14; /* Verde Neón */
    border-radius: 4px;
}